body {
  font-family: 'Josefin Sans';
  background-color: #FFFAFB;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;

}

::-webkit-scrollbar {
  width: 0px;
}

.right-arrow,
.left-arrow {
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FF2625;
  font-size: 25px;
  border-radius: 4px;
  position: absolute;
  bottom: -20px;
  right: 80px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.right-arrow {
  right: 140px;
}

.right-arrow:hover,
.left-arrow:hover {
  transform: scale(1.3, 1.3);
}

.react-horizontal-scrolling-menu--wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.detail-image {
  width: 729px;
  height: 742px;
}

.hero-banner-img {
  position: absolute;
  top: -200px;
  width: 600px;
  height: 800px;
  right: 0;
  border-bottom-left-radius: 20px;
}

.exercise-card {
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 10px;
  padding: 7px;
}

.exercise-card img {
  height: 250px;
  width: 100%;
  /* border-top-left-radius: 50px;
  border-top-right-radius: 50px; */
  border-radius: 20px;
}

.bodyPart-card {
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

/* .exercise-card:hover,
.bodyPart-card:hover {
  transform: scale(1.1, 1.1);
} */

.search-btn:hover {
  color: #FF2625 !important;
  border: 1px solid #FF2625 !important;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;

}



.exercise-video {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 387px;
  height: 381px;
  text-decoration: none;
}

@media screen and (max-width:1200px) {
  .detail-image {
    width: 300px;
    height: 300px;
  }


  .react-horizontal-scrolling-menu--scroll-container {
    width: 500px;
  }

  .left-arrow,
  .right-arrow {
    position: static !important;
  }

  .hero-banner-img {
    display: none;
  }

  .exercise-card {
    width: 320px;
  }

  .exercise-video {
    width: 320px;
    height: 300px;
  }

}

@media screen and (max-width:400px) {
  .exercise-card {
    width: 280px;
  }
}


/* .alice-carousel__prev-btn, .alice-carousel__next-btn {
} */

.alice-carousel__prev-btn-item {
  font-size: 35px;
  color: red !important;
}

.alice-carousel__next-btn-item {
  font-size: 35px;
  color: red !important;
}


.box {
  background-color: #232323;
  padding: 0px 50px;
}

.logo {
  width: 80px;
}

.first {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0px;
  border-bottom: 2px solid rgba(254, 254, 254, 0.089);
}

.second {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 80px 0px;
}

.second .icon {
  margin-right: 25px;
  margin-top: 10px;
}

.third {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-color: black;
  padding: 20px 30px;
}

.third .flexen ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.third .flexen ul li {
  margin-right: 15px;
}

.accordion {
  width: 50%;
}

#panel1a-header {
  background-color: #232323f8;
  color: white;
}

.iconen {
  color: white;
}

.color {
  background-color: #232323;
}

div#panel1a-content {
  background: #232323;
}

.s {
  border-bottom: 4px solid white; /* Adjust the border style as needed */
}










.flexen {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  padding: 0px 100px;
}

.flexen > .et {
  margin: 0px 5px;
  text-align: center;
  padding: 30px 50px;
  width: 25%;
  border: 2px solid black;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --mask: radial-gradient(circle 20px at 20px 20px, transparent 20px, #000 21px) -20px -20px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.flexen > .to {
  margin: 0px 5px;
  text-align: center;
  padding: 30px 50px;
  width: 25%;
  border: 2px solid black;
  border-right: none;
  border-left: none;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --mask: radial-gradient(circle 20px at 20px 20px, transparent 20px, #000 21px) -20px -20px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.flexen > .tre {
  margin: 0px 5px;
  text-align: center;
  padding: 30px 50px;
  width: 25%;
  border: 2px solid black;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --mask: radial-gradient(circle 20px at 20px 20px, transparent 20px, #000 21px) -20px -20px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}

.flexen > .fire {
  margin: 0px 5px;
  text-align: center;
  padding: 30px 50px;
  width: 25%;
  border: 2px solid black;
  border-left: none;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0px 0px 0px 0px;
  --mask: radial-gradient(circle 20px at 20px 20px, transparent 20px, #000 21px) -20px -20px;
  -webkit-mask: var(--mask);
  mask: var(--mask);
}


.flexen > div > p:first-child {
  font-size: 65px;
  font-weight: 700;
}